<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ActivosFijosEntities" connectionString="metadata=res://*/Entity.ModeloActivosFijos.csdl|res://*/Entity.ModeloActivosFijos.ssdl|res://*/Entity.ModeloActivosFijos.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=1234;database=corrales_activosfijos;convert zero datetime=True;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Portal_Entities"      connectionString="metadata=res://*/Entity.ModeloPortal.csdl|res://*/Entity.ModeloPortal.ssdl|res://*/Entity.ModeloPortal.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=1234;database=corrales_portal;convert zero datetime=True;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>